<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="TRACE">

    <Properties>
        <Property name="fileName">zhibo.log</Property>
        <Property name="logPath">D:\zhiboapp\test_env\apache-tomcat-7.0.72\logs\</Property>
    </Properties>

    <Appenders>

        <Console name="consoleAppender" target="SYSTEM_OUT">
            <ThresholdFilter level="TRACE" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n" />
        </Console>

        <RollingFile name="zhiboLoggerFile" fileName="${logPath}${fileName}"
                     filePattern="${logPath}zhibo-%d{yyyyMMddHHmmssSSS}-%i.log.gz">
            <!-- https://logging.apache.org/log4j/2.x/manual/layouts.html -->
            <PatternLayout pattern="[%d{yyyy/MM/dd HH:mm:ss.SSS z}] [%t] [%T] [%-5level] - %msg%xEx%n" />
            <SizeBasedTriggeringPolicy size="20MB" />
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="com.zhibo" level="debug" additivity="true">
            <AppenderRef ref="zhiboLoggerFile" />
        </Logger>
        <Root level="ERROR">
            <AppenderRef ref="consoleAppender" />
        </Root>
    </Loggers>

</Configuration>


